* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


.top-section {
    height: 350px;
    background: url('https://www.shutterstock.com/image-photo/mountain-sea-wiev-alanya-260nw-1735384472.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.overlay-text {
    color: yellow;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 60%;
    border-radius: 10px;
}




.bottom-section p {
    color: #e6d87a;
    width: 60%;
    font-size: 16px;
    text-align: center;
}