<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">

            <p class="text-danger">@TempData["FileInfo"]</p>

            <h4 class="card-title">Create Product</h4>

            <form class="forms-sample" method="post" enctype="multipart/form-data">

                <div class="form-group">
                    <label for="Name">MainImage</label>
                    <input asp-for="MainPhoto" class="form-control">
                    <span asp-validation-for="MainPhoto" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="Name">SecondaryImage</label>
                    <input asp-for="HoverPhoto" class="form-control">
                    <span asp-validation-for="HoverPhoto" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="Name">Additional Images</label>
                    <input asp-for="AdditionalPhotos" class="form-control">
                    <span asp-validation-for="AdditionalPhotos" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="Name">Name</label>
                    <input asp-for="Name" class="form-control" placeholder="Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

            </form>

        </div>
    </div>
</div>
